body {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
  }

  header {
    display: flex;
    background-color: skyblue;
    padding-bottom: 35px;
    justify-content: center;
  }

  .middler {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  aside {
    background-color: white;
    flex-basis: 150px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-start;
    align-items: center;
  }

  main form {
    display: flex;
    justify-content: center;
    padding-left: min(10%);
    padding-right: 15%;
  }

  
  main, aside, header {
    padding: 10px;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  form button {
    font-size: large;
    margin: 10px;
    padding: 3.5em;
    background-color: white;
    border-color: black;
    border-width: 5px;
  }