html {
    background-color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: skyblue;
    text-align: center;
    width: 100%;
    height: 20vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2em;
    color: white;
    text-shadow: 4px 4px 8px black;
    margin-top: 0; 
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: white;
    font-family: sans-serif;
    margin: 0;
    padding-top: 20vh; 
    font-family: 'Times New Roman', Times, serif;
}

main {
    text-align: center;
    display: flex;
    background-color: rgb(189, 189, 189);
    margin: 2% auto;
    padding: 2%;
    width: 95%;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 1.2em;
    color: black;
    margin: 2% 0;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

li {
    margin: 5px 0;
}

footer {
    background-color: skyblue;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Times New Roman', Times, serif;
}

